{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block contenido %}
    
    </div>
    <div class="sombra">
    <div class="nucleo">
        <div id="migas">
        <div class="clear"></div> 

    </div>
<div class="contenido">
                <div class="centro">
            <h1>{{carrera.getNombre()}}</h1>
            <div class="parteCelda">
                <img src="/bundles/appapp/images/matutrail.jpg">
            </div>
            <div class="parteCelda2">
                <p>{{carrera.getDescripcion()}}</p>
                <p>Fecha celebración: {{carrera.getFechaCelebracion() | date}}
                </p><p>Distancia: {{carrera.getDistancia()}}</p>
                <p>Organiza: <a href="/{{locale}}/corredores/organizacion/{{carrera.getOrganizacion().getNombre()}}">{{carrera.getOrganizacion().getNombre()}}</a></p>  
            </div>
        </div>
        <div class="clear"></div>   
        <div class="centro">
            {% if date(carrera.getFechaCelebracion()) >date('now')%}
                            <h3>Tienes hasta el  {{carrera.getFechaCelebracion() | date}} para inscribirte. </h3>
                <div style="float:right; padding:10px 5px">
                    <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" href="/{{locale}}/corredores/inscribir/{{carrera.getNombre()}}"><span>Inscríbete</span> </a>
                </div>
                <div class="clear"></div>   
                <h3>Inscritos:</h3>
                {% for corredor in corredores%}
                                    {{corredor.getNombre()}}<br>
                 {%endfor%}
             {%else%}
                 <h3>Lo sentimos, ya no te puedes inscribir a esta carrera. </h3>
               
                <div class="clear"></div>   
                <h3>Clasificación:</h3>
                {% for corredor in corredores%}
                    <table>
                    <thead>
                        <tr>
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                                                    <tr>
                                <td>
                                    {{corredor.getDorsal()}}
                                </td>
                                <td>   
                                    {{corredor.getCorredor().getName()}} <br>
                                </td>
                                <th>
                                    {{corredor.getTiempo()}}
                                </th>
                            </tr>
                         
                    </tbody>
                </table>
                  {%else%}
                     No ha habido participantes en la carrera  </br>
                 {%endfor%}
                 
             {%endif%}
             
                    </div>





        <div class="clear"> </div>   
     
    </div>

    <div class="clear"></div>  
    <div class="separa"></div>

    

{% endblock %}