{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block contenido %}
   
      </div>
    </div>
    <div class="sombra">
    <div class="nucleo">
        <div id="migas">
        <div class="clear"></div> 

    </div>
<div class="contenido">
            <div class="centro">
        <h1>{{organizacion.getNombre()}}</h1>
        <p>{{organizacion.getNombre()}}</p>
        <p><a href="mailto:{{organizacion.getEmail()}}">Contacta</a></p>
        <p>Carreras organizadas:</p>
        <ol>
            {% for car in carreras%}
                    <li><a href="/{{locale}}/corredores/carrera/{{car.getNombre()}}">{{car.getNombre()}}</a></li>
            {%endfor%}
        </ol>
    </div>





    <div class="clear"> </div>   
 
    </div>

    <div class="clear"></div>  
    <div class="separa"></div>

    

{% endblock %}